.git
.gitignore
.dockerignore

bin/
obj/
out/
schemas/
tmp-nfe-out/
artifacts/
*.nupkg
*-procNFe.xml
*-nfe.xml
*-danfe.pdf

certs/
*.pfx
*.p12
*.pem
*.key
*.crt
*.cer
*.der
*.jks
*.keystore

.env
.env.*

.vscode/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*:Zone.Identifier
